<div>
  <div class="row" *ngIf="product">
    <div class="col-12">
      <img [src]="'https://picsum.photos/300/200?param='+product.id" class="img-fluid w-100" alt="">
    </div>
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Only ${{product.price}}!</h5>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          Amount: <input type="number" [(ngModel)]="amount"> <button (click)="addToCart()" [disabled]="amount<1" class="btn btn-primary ml-3">Add to cart</button>
        </div>
        <div *ngIf="hasAmountError" class="alert alert-danger" role="alert">
          <strong>This amount is not available at stock now!</strong>
        </div>
      </div>
    </div>
  </div>
</div>
