<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Ecommerce</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/products']" [queryParams]="{categoryId:''}"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <div class="btn-group" dropdown>
              <button id="button-animated" dropdownToggle type="button" class="btn btn-success dropdown-toggle"
                      aria-controls="dropdown-animated">
                      Cart: {{cartCount$ | async}} item <span class="caret"></span>
              </button>
              <div id="dropdown-animated" *dropdownMenu class="dropdown-menu p-2" style="width: 20rem;"
                  role="menu" aria-labelledby="button-animated">
                  <ul class="list-group">
                    <li *ngFor="let item of cartItems$ | async" class="list-group-item d-flex justify-content-between align-items-center">
                      {{item.product.name}}
                      <span class="badge badge-primary badge-pill">x{{item.amount}}</span>
                    </li>
                  </ul>
                  <div>
                    Card total: {{cartTotal$ | async}} $ <button class="btn btn-primary float-right" [routerLink]="['/order/checkout']">Checkout</button>
                  </div>
              </div>
            </div>
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
